# Python
venv/
__pycache__/
*.pyc
.env
.pytest_cache/
dist/
build/

# Node/React
node_modules/
npm-debug.log*
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.DS_Store
Thumbs.db